
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
}

main {
  width: 90%;
  margin: 0;
  padding: 1.5em;
}
