article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html {
    font-size: 62.5%; /* 10px */
    font-family: 'Montserrat', sans-serif;
    color: #707070;
}

/* STRIPPING STYLES */
body, 
h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    border: none;
    cursor: pointer;
}

header {
    background-image: url("./assets/header.png");
    height: 100%;
    background-size: cover;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    padding-top: 20px;
    font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
}

h2 {
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
}

h3 {
    font-size: calc(10px + (24 - 10) * ((100vw - 300px) / (1600 - 300)));
    padding: 20px 0 40px 0;
    font-weight: 500;
}

h4 {
    font-size: calc(10px + (24 - 10) * ((100vw - 300px) / (1600 - 300)));
    color: #f38c7c;
}

p {
    font-size: calc(8px + (18 - 8) * ((100vw - 300px) / (1600 - 300)));
    line-height: 140%;
}

.contact {
    display: flex;
}

.contact h3 {
    padding-right: 10px;
}

.projects a {
    font-size: calc(8px + (18 - 8) * ((100vw - 300px) / (1600 - 300)));
    line-height: 140%;
    background-color: #e3eff6;
    padding: 10px 15px;
    border-radius: 50px;
}

.section {
    display: flex;
    width: 100%;
    padding: 20px 0;
}

.context {
    display: flex;
    flex-direction: column;
}

.title h4 {
    width: 300px;
}

.skills .context {
    width: 100%;
}

.skills .context {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 20px;
} 

.educationDiv {
    width: 100%;
}

.education .context {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.school,
.projTitle,
.position {
    font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
}

.proj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projDesc {
    padding: 10px 0;
}

.projInfo {
    margin-right: 30px;
    padding-bottom: 20px;
}

.jobInfo {
    display: flex;
    justify-content: space-between;
}

.jobDates {
    display: flex;
}

.summaries {
    padding: 10px 0
}

.summary1 {
    padding-bottom: 5px;
}

.experiences {
    padding-bottom: 40px;
}

hr {
    border-top: 3px solid #93a1ae;
}

@media (max-width: 900px) {
    .title h4 {
        width: 100px;
    }
}

@media (max-width: 594px) {
    .section {
        flex-direction: column;
    }

    .section h4 {
        padding-bottom: 10px;
    }
}

@media (max-width: 446px) {
    .skills .context {
        display: block;
        text-align: center;
    }
}