<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="layout.css" type="text/css" />

<body>

  <div id="main-section">
    <header id="main-header">
      <h2>Ahmed Yagoub</h2>
    </header>

  </div>
</body>

</html>