.App {
  text-align: center;
}

.resume{
  max-height: 100vh;
  min-height: 100vh
}

.picture{
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 100%;
}

.textarea{
  width: 50vw;
  height: 50vw;
}

.section{
  text-align: left;
  margin-left:5rem;
}

.header{
  display:flex;
  justify-content: space-between;
  padding-right: 2em;
}

.header p{
  margin: 0;
}

.accomplishments{
  display:flex;
  justify-content: flex-start;
}

.supplement{
  display:flex;
  justify-content: space-between;
  padding-right: 8em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
